body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 28%; 
    text-align: center;
}
.box h2 {
    font-size: 32px;
    margin-bottom: 20%;
}

.slider-container {
    margin-top: 10px;
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

.discount {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    align-items: center;
}

/* .discount-box, .price-box {
    width: 48%;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 15px;
} */
.discount-box{
    padding: 0px 15px;
    background-color: #4b0082 ;
    border-radius: 15px;
    color:#fff;
}
.discount-box p{
    margin: 10px 0px;
}
.save-boxes {
    display: flex;
    justify-content: space-between;
}
.save-boxes-inner{
    width: 100%;
    background-color: #E8E8E8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
}
.save-boxes-inner .gap{
    margin:30px 0px;
}

.yellow-box {
    background-color: #ffeb3b;
    box-sizing: border-box;
    width:85%;
    margin: -15px auto;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    /* border-radius: 15px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price-details {
    text-align: center;
} 
.price-details h2{
    font-size: 22px;
}
